:root {
  --primary-color: #0070f4;
  --secondary-color: #09ded8;
  --dark-grey: #666;
  --text-color: #000;
  --background-color: #fff;
  --hr-color: #ddd;
  --article-text-color: #444;
  --uses-secondary-color: #bbb;
}

html {
  font-family: 'Helvetica Neue';
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
}
